{% extends "appGenerandoEntropia/layout.html" %}
{% load static %}

{% block title %}{% endblock %}
{% block body %}
<h1>PÁGINA EN CONSTRUCCIÓN.</h1>
<img src="https://www.gifsanimados.org/data/media/1664/en-construccion-y-obra-imagen-animada-0031.gif">
<h3>Acá se llega si nos logueamos bien.</h3>

<h1> Aún no tenemos demasiado contenido, pero ya podemos crear usuarios!</h1>

<h1>¡Bienvenido, {{ request.user.username }}!</h1>

<ul>
    <li>Usuario: {{ request.user.username }}</li>
    <li>Correo: {{request.user.email }}</li>
</ul>

<a href="{% url 'logout' %}">Log Out</a> <br>

<a href="{% url 'index' %}">Volver</a>
{% endblock %}