{% extends "appGenerandoEntropia/layout.html" %}
{% load static %}

{% block title %}{% endblock %}
{% block body %}
<h1>PÁGINA EN CONSTRUCCIÓN.</h1>
<img src="https://lh5.googleusercontent.com/-9jrN85WBl2s/U6C6CEuAiQI/AAAAAAAAAA4/CltTv8ziyMM/s400/obres5.gif">
<h3>Esto será la sección  Lo que no se puede decir.</h3>

    {% if message %}
        <div>{{message}}</div>
    {% endif %}

    <form acction="{% url 'loquenosepuededecir' %}" method="post">
        {% csrf_token %}
        <input type="text", name="username", placeholder="usuario">
        <input type="password", name="password", placeholder="contraseña">
        <input type="submit", value="Ingresar">
    </form>

<div>
    ¿Todavía no es un usuario registrado? <a href="{% url 'register' %}">Registrese aquí.</a>
</div>
<div>
    <a href="{% url 'index' %}">Volver</a>
</div>

{% endblock %}