{% extends "appGenerandoEntropia/layout.html" %}
{% load static %}

{% block title %}{% endblock %}
{% block body %}
<!--<h1>PÁGINA EN CONSTRUCCIÓN.</h1>-->
<!--<img src="https://www.upct.es/~4ade/images/construccion.gif">-->
<!--<h3>Esto será la sección Chiste de miércoles.</h3>-->

<div class="contenedor">
    <img src="{% static 'appGenerandoEntropia/images/fotos/misCosas/losMalosTenianRazon/light-bulbs.jpg' %}" width="100%" />
    <div class="textoLosMalosTenianRazon">Antes de juzgar, asegúrate de que eres perfecto </div>
    <div class="textoAUTORLosMalosTenianRazon">Joker.-</div>
</div>

<a href="{% url 'index' %}">Volver</a>
{% endblock %}