{% extends "appGenerandoEntropia/layout.html" %}
{% load static %}

{% block title %}{% endblock %}
{% block body %}
<h2>PÁGINA EN CONSTRUCCIÓN.</h2>
<h2>Registro de nuevo usuario</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <div class="container">
        <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Nombre de usuario:</label>
            <input class="form-control" autofocus type="text" autocapitalize="off" name="username" placeholder="Nombre de usuario">
        </div>
        <div class="form-group">
            <label for="email">Correo:</label>
            <input type="email" class="form-control" id="email" placeholder="e-mail. Puede dejar este campo vacio." name="email">
        </div>
        <div class="form-group">
            <label for="pwd">Contraseña:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Contraseña" name="password">
        </div>
        <div class="form-group">
            <label for="pwd">Confirmar contraseña:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Repita la contraseña" name="confirmation">
        </div>
        <button type="submit" class="btn btn-primary">Registrarse</button>
        </form>
    </div>

<hr>
    ¿Ya posee una cuenta? <a href="{% url 'loquenosepuededecir' %}">Ingrese aquí.</a>
<hr>


{% endblock %}